<div class="container">
    <div class="row title">
        <div class="col-xs-8 project_head">
            <div class="project_heading">{{project.title}}</div>
        </div>
        <div class="col-xs-4">

        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 mainImage">
            <div class="image">
                <img src="{{project.image}}">
            </div>
        </div>

        <div class="col-xs-4">
            <div class="stats">
                <div class="stats-item">
                    <strong class="stats-item_strong">0</strong>
                        <div class="stats-item_caption">спонсоров</div>
                </div>
                <div class="stats-item">
                    <span class="stats-item_sum">
                        <strong class="stats-item_strong stats-item_strong--sum">0</strong>
                        <span class="stats-item_currency">BYN</span>
                        <sup class="stats-item_percentage">0%</sup>
                    </span>
                    <div class="stats-item_caption">Необходимо {{project.totalCost}} BYN</div>
                </div>
                <div class="stats-item">
                    <strong class="stats-item_strong">{{project.leftDays}}</strong>
                    <div class="stats-item_caption">Осталось дней</div>
                </div>
                <div class="stats-item">
                    <p class="stats-item_info">
                        Цель проекта — минимум {{project.totalCost}} BYN
                        <br>
                        Срок — {{completionDate}}
                    </p>
                    <a *ngIf="!myProject" href="#" class="btn  btn_subscribe">Подписаться</a>
                    <a *ngIf="!myProject" href="#" class="btn  btn_support">Поддержать</a>
                    <a *ngIf="myProject" (click)="navigate()" class="btn  btn_subscribe">Редактировать</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="short-description">
                <p class="content">
                    {{project.description}}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <p class="rating">Рейтинг: </p>
            <rating
                [(ngModel)]="rating"
                [float]="true">
            </rating>
        </div>
        <div class="col-xs-8">
            <a class="tag" *ngFor="let tag of project.tags">{{tag.value}}</a>
        </div>
    </div>
    <div class="row">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#content" data-toggle="tab">
                            О проекте</a>
                    </li>
                    <li>
                        <a href="#comments" data-toggle="tab">
                            Комментарии</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div [innerHTML]="project.content" class="tab-pane active ql-editor " id="content">
                    </div>
                    <div class="tab-pane" id="comments">
                        <comments-component [comments]="project.comments" [user]="currentUser"></comments-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3"
             *ngFor="let goal of project.financialGoals">
            <finansal-goal [finansalGoal]="goal" [editable]="false"></finansal-goal>
        </div>
    </div>
</div>
