<div *ngIf="project" class="container">
    <div class="row title">
        <div class="col-xs-8 project_head">
            <div class="project_heading">{{project.title}}</div>
        </div>
        <div class="col-xs-4">

        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 mainImage">
            <div class="image">
                <img src="{{project.image}}">
            </div>
        </div>

        <div class="col-xs-4">
            <div class="stats">
                <div class="stats-item">
                    <strong class="stats-item_strong">0</strong>
                        <div class="stats-item_caption">{{'displayProject.sponsors' | translate:lang }}</div>
                </div>
                <div class="stats-item">
                    <span class="stats-item_sum">
                        <strong class="stats-item_strong stats-item_strong--sum">0</strong>
                        <span class="stats-item_currency">BYN</span>
                        <sup class="stats-item_percentage">0%</sup>
                    </span>
                    <div class="stats-item_caption">{{'displayProject.required' | translate:lang }} {{project.totalCost}} BYN</div>
                </div>
                <div class="stats-item">
                    <strong class="stats-item_strong">{{project.leftDays}}</strong>
                    <div class="stats-item_caption">{{'displayProject.leftover' | translate:lang }}</div>
                </div>
                <div class="stats-item">
                    <p class="stats-item_info">
                        {{'displayProject.projectGoal' | translate:lang }} {{project.totalCost}} BYN
                        <br>
                        {{'displayProject.time' | translate:lang }} — {{completionDate}}
                    </p>
                    <a *ngIf="!myProject && !isGuest() && !isFollowed()" (click)="subscribe()" class="btn  btn_subscribe">{{'displayProject.follow' | translate:lang }}</a>
                    <a *ngIf="!myProject && !isGuest() && isFollowed()" (click)="unsubscribe()" class="btn  btn_subscribe">{{'displayProject.unfollow' | translate:lang }}</a>
                    <a *ngIf="myProject && !isGuest()" (click)="navigate()" class="btn  btn_subscribe">{{'displayProject.edit' | translate:lang }}</a>
                    <a href="#" class="btn  btn_support" *ngIf="!myProject && !isGuest()"  data-toggle="modal"
                       data-target="#purchase" style="cursor: pointer">{{'displayProject.subscribe' | translate:lang }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="short-description">
                <p class="content">
                    {{project.description}}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <p class="rating" style="padding-bottom: 1%;">{{'displayProject.rating' | translate:lang }}: </p>
            <rating (click)="addRating()"
                [(ngModel)]="project.rating"
                [float]="true"
                [readonly]="project.isRated"
                >
            </rating>
            <span class="rating" style="padding-bottom: 3%;padding-left: 10px;">
                {{project.rating}}
            </span>
        </div>
        <div class="col-xs-8">
            <a class="tag" routerLink="/projects/tag/{{tag.value}}" *ngFor="let tag of project.tags">{{tag.value}}</a>
        </div>
    </div>
    <div class="row">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#content" data-toggle="tab">
                            {{'displayProject.about' | translate:lang }}</a>
                    </li>
                    <li>
                        <a href="#comments" data-toggle="tab">
                            {{'displayProject.comments' | translate:lang }}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div [innerHTML]="project.content" class="tab-pane active ql-editor " id="content">
                    </div>
                    <div class="tab-pane" id="comments">
                        <comments-component [comments]="project.comments" [user]="currentUser" (addComment)="addComment($event)"></comments-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3"
             *ngFor="let goal of project.financialGoals">
            <finansal-goal [finansalGoal]="goal" [editable]="false"></finansal-goal>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="purchase" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{'displayProject.purchase' | translate:lang }}</h4>
            </div>
            <div class="modal-body" style="background-color: #ffffff">
                <input id="finansal-input-cost"
                       [(ngModel)]="inputSum"
                       class="finansal"
                       type="number"
                       placeholder="{{'displayProject.enterYourSum' | translate:lang }}"
                       pInputText>
                <div class="modal-footer">
                    <a class="btn  btn_support" data-dismiss="modal" (click)="addPurchase()" style="width: 150px; margin-top: 10px;">{{'displayProject.subscribe' | translate:lang }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
