<div class="container">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-8">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <div class="block">
                                <div class="create-header"><p>Название проекта</p></div>
                                <input id="float-input" type="text" placeholder="Введите название проекта" pInputText
                                       [(ngModel)]="project.title">
                                <p class="create-desc">Название должно быть лаконичным, уникальным и запоминающимся. Будьте уверены в том, что название проекта отражает его суть.</p>
                            </div>
                            <div class="block">
                                <div class="create-header"><p>Краткое описание проекта</p></div>
                                <textarea class="textarea" [rows]="20" [cols]="30" pInputTextarea [(ngModel)]="project.description"
                                          autoResize="autoResize" placeholder="Коротко расскажите о проекте"></textarea>
                                <p class="create-desc">Опишите в одном предложении цель вашего проекта.</p>
                            </div>
                            <div class="block projectLayout">
                                <div class="create-header header-image"><p>Обложка проекта</p></div>
                                <div class="text-center">
                                    <img src="{{project.image}}" width="100%"/>
                                </div>
                                <button type="button" class="btn btn-show-modal" data-toggle="modal" data-target="#myModal">Изменить обложку</button>
                            </div>
                            <div class="block">
                                <div class="create-header"><p>Дата окончания компании</p></div>
                                    <p-calendar [inputStyle]="{'background-color' : '#f9f9f9','width': '200px'}" [showIcon]="true"></p-calendar><span style="width: 100px">{{date3|date}}</span><br>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step2">
                                <p-editor [style]="{'height':'220px'}"></p-editor>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h2>Payway</h2>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="complete">
                            <h2>Success</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-4" id="preview">
                    <div class="block">
                        <a href="#" class="btn  btn_save">Сохранить</a>
                        <a href="#" class="btn  btn_subscribe">Предпросмотр</a>
                    </div>
                    <preview [project]="project"></preview>
                </div>
            </div>
        </section>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" #closeBtn>&times;</button>
                <h4 class="modal-title">Upload</h4>
            </div>
            <div class="modal-body">
                <drag-and-drop [project]="project" (download)="drop()"></drag-and-drop>
                <input type="file" #fileSelect ng2FileSelect [uploader]="uploader"
                       accept="image/*;capture=camera" hidden="true" (change)="upload()"/>
                <button class="btn btn-show-modal right" (click)="load()" style="margin-left: 40%">Выбрать файл</button>
            </div>

        </div>
    </div>
</div>