<header class="head">
    <div class="row">
        <div class="col-xs-6 left">

            <nav class="head_nav">
                <ul>
                    <li class="head_item">
                        <a href="/" class="logo">
                            <img src="/src/assets/images/logo.png" />
                        </a>
                    </li>
                    <li class="head_item"><a href="#" class="head_link">Проекты</a></li>
                    <li class="head_item"><a href="#" class="head_link">Создать проект</a></li>
                    <li class="head_item"><a href="#" class="head_link">Проекты</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-6" >
            <div *ngIf="user" class="right">
                <span class="welcome-text">Привет</span>
                <span class="head_username">{{user.username}}</span>
                <a href="#" class="dropdown-toggle profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{user.image}}"/></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/profile/{{user.id}}">Профиль</a></li>
                    <li><a href="#" class="exit" (click)="logOut()">Выход</a></li>
                </ul>
            </div>
            <div *ngIf="!user" class="right">
                <div class="row">
                    <a routerLink="/login" class="login">Вход</a>
                </div>

            </div>
        </div>
    </div>
</header>