<div class="container">

    <div class="col-sm-8" id="MainComment">
        <div class="newComment">
            <h3 class="pull-left">New Comment</h3>

            <fieldset>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                        <p-editor>
                            <p-header>
                                <span class="ql-formats">
                                    <select class="ql-header">
                                        <option value="2">Subheading</option>
                                        <option selected="">Normal</option>
                                    </select>
                                    <button class="ql-bold" aria-label="Bold"></button>
                                    <button class="ql-italic" aria-label="Italic"></button>
                                    <button class="ql-underline" aria-label="Underline"></button>
                                </span>
                            </p-header>
                        </p-editor>
                    </div>
                </div>
            </fieldset>
            <button type="submit"  class="btn btn-normal pull-right">Add</button>
        </div>

        <h3>Number Comments</h3>

        <div>
            <div class="media">
                <div class="pull-right">
                    <span title="Delete"  class="glyphicon glyphicon-trash "></span>
                </div>
                <a class="pull-left"><img class="media-object img-circle" style="height:100px"></a>
                <div class="media-body">
                    <h4 class="media-heading"></h4>

                    <div  style="word-wrap:break-word;"></div>
                    <ul class="list-unstyled list-inline media-detail pull-left">
                        <li><i class="fa fa-calendar"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>