<div class="content-item" id="comments">
    <div class="container">
        <div class="col-sm-8" id="MainComment">
            <h3>{{comments.length}} Комментарий</h3>

            <div *ngFor="let comment of comments; let i = index">
                <div class="media">
                    <div class="pull-right" *ngIf="checkRoleForDeleteComment(i)">
                        <span title="Delete" (click)="deleteComment(i)" class="glyphicon glyphicon-trash"  ></span>
                    </div>
                    <a class="pull-left"><img class="media-object img-circle" style="height:100px" src={{comment.user.image}}></a>
                    <div class="media-body">
                        <h4 class="media-heading">{{comment.user.username}}</h4>

                        <div [innerHTML]="comment.content" style="word-wrap:break-word;"></div>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="fa fa-calendar"></i>{{comment.dateCreated | date:'shortDate' }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="newComment">
                <fieldset>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                            <p-editor [(ngModel)]="comment.content" [style]="{'min-height':'150px'}">
                                <p-header>
                                <span class="ql-formats">
                                    <select class="ql-header">
                                        <option value="2">Subheading</option>
                                        <option selected="">Normal</option>
                                    </select>
                                    <button class="ql-bold" aria-label="Bold"></button>
                                    <button class="ql-italic" aria-label="Italic"></button>
                                    <button class="ql-underline" aria-label="Underline"></button>
                                </span>
                                </p-header>
                            </p-editor>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" (click)="addComment()" class="btn btn-normal btn-success pull-right">Добавить</button>
            </div>
        </div>
    </div>
</div>
