<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">TashStarter</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" [formGroup]="userForm">

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Login</label>
                    <div class="cols-sm-10" >
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text"
                                   class="form-control"
                                   name="name" id="name"
                                   placeholder="Enter your Name"
                                   formControlName="login"
                                   [ngClass]="{'error' : userForm.controls['login'].hasError('required') && (userForm.controls['login'].touched || invalid ) }" />
                        </div>
                    </div>
                    <i *ngIf="userForm.controls['login'].hasError('required')
                           && (userForm.controls['login'].touched || invalid )"
                       class="fa fa-exclamation-triangle error-triangle"></i>
                </div>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Enter your Password"
                                   formControlName="password"
                                   [ngClass]="{'error' : userForm.controls['password'].hasError('required')
                                   && (userForm.controls['password'].touched || invalid ) }"/>
                        </div>
                    </div>
                    <i *ngIf="userForm.controls['password'].hasError('required')
                           && (userForm.controls['password'].touched || invalid )"
                       class="fa fa-exclamation-triangle error-triangle"></i>
                </div>
                <div class="error-message">
                    <p *ngIf="invalid">Неправильный логин или пароль</p>
                </div>
                <div class="form-group">
                    <button type="button"
                            class="btn btn-primary btn-lg btn-block login-button"
                            (click)="login()">Log in</button>
                </div>
                <div class="login-register">
                    <a [routerLink]="['/registration']">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>
